<h1 align="center">Albuquerque Air Quality</h1>

## Table of Contents 

* [Objectives](#objectives)
* [Overview of the Data](#overview-of-the-data)
* [Data Cleaning](#data-cleaning)
* [Data Exploration](#data-exploration)
* [Data Visualization](#data-visualization)
* [Summary - Main Points Wrapped Up](#summary---main-points-wrapped-up)


## Objectives <a name="objectives"></a>
As an explorer in the world of data analytics, this project is a way to showcase data cleaning and exploration with MySQL and data visualization with PowerBI. This project is intended to explore the air quality in Albuquerque, New Mexico and the surrounding areas over the past 5 years: 2018 to 2022.

Air quality is important to overall health as humans and can affect us in multiple ways. Livability relies heavily on the quality of air within certain areas and contributes to healthy communities. Air pollution can lead to heart attacks, heart disease, and lung cancer among other diseases. On the contrary, healthy air prevents heart attacks, lung cancer, and both acute and severe asthma.

## Overview of the Data <a name="overview-of-the-data"></a>
This data set includes daily air quality index (AQI) values recording from different sites throughout Albuquerque, NM and the surrounding areas. This dataset was found while researching environmental data sets through our local governments database. The dataset is divided up yearly into air quality index (AQI) values that were recorded daily. We are looking at 6 main air pollutants: ground – level ozone (O3 or Ozone), particle pollution (divided into 2 pollutants PM10 and PM2.5), Carbon Monoxide (CO), Sulfur Dioxide (SO2), and Nitrogen Dioxide (NO2). Air quality index (AQI) was recorded at 8 different sites within Albuquerque, New Mexico and it’s surrounding areas. The overall AQI recording is read based on the parameters in the photo below (figure 1).

<center>

<figure align="center">
<img src="aqi-values.png">
<figcaption align = "center"> <em>Figure.1 - Air Quality Index (AQI) value description indicating how harmful and the level of concern.</em> </figcaption>
</figure>

</center>

The data was gathered from the United States Enviornmental Protection Agency and was gathered using the given query tool. Five excel sheets were gathered for each seperate year.
The dataset includes the following fields:

<center>

| Field | Description |
| :-: | --- |
| reportdate | The date in which the air quality index (AQI) value was recorded. |
| aqivalue | The air quality index (AQI) that was recorded. |
| mainpollutant | The main pollutant recorded. | 
| site_name | The name of the site the air quality index (AQI) was recorded at. |
| site_id | The id of the site the air quality index (AQI) was recorded at. |
| CO | Carbon Monoxide (a main pollutant) indicates value recorded. |
| Ozone | Ground-level ozone or O3 (a main pollutant) indicates value recorded. |
| PM10 | Particle Pollution (a main pollutant) indicates value recorded. |
| PM25 | Particle Pollution (a main pollutant) indicates value recorded. |
| NO2 | Nitrogen Dioxide (a main pollutant) indicates value recorded. |

</center>

## Data Cleaning <a name="data-cleaning"></a>
All 5 Excel sheets for each year were imported into MySQL.

1. After importing all years of data into MySQL, a seperate table was created to congregate all data into one table to make cleaning and exploring data easier.

2. Column names were then adjusted to get rid of spaces and parentheses to make exploration easier. 

3. Lastly, an unneeded column was deleted to clear up clutter and make things easier to read.

In [ ]:
-- Create a new table with all years congregated into one table 
-- Makes it easier to look at all data and clean it more efficiently 

CREATE TABLE all_years AS 
	SELECT * FROM abqaqidaily2018
		UNION 
	SELECT * FROM abqaqidaily2019
		UNION
	SELECT * FROM abqaqidaily2020
		UNION
	SELECT * FROM abqaqidaily2021
		UNION
	SELECT * FROM abqaqidaily2022


-- Rename Site Name and Site ID column names to get rid of parentheses 
ALTER TABLE all_years
	CHANGE COLUMN `Site Name (of Overall AQI)` site_name
    varchar(25)
    
ALTER TABLE all_years
	CHANGE COLUMN `Site ID (of Overall AQI)` site_id
    varchar(30);

ALTER TABLE all_years 
	CHANGE COLUMN `date` reportdate
    DATE NOT NULL; 

ALTER TABLE all_years 
	CHANGE COLUMN `Overall AQI Value` aqivalue
	INT(4); 
 
ALTER TABLE all_years 
	CHANGE COLUMN `Main Pollutant` mainpollutant
    VARCHAR(10); 


-- Verify name changes went through correctly 
SELECT * FROM all_years; 

-- Delete Source column (as all values come from AQS and this information is not necessary) 
ALTER TABLE all_years
	DROP COLUMN `Source (of Overall AQI)`;

The data had missing Site Names with only Site IDs filled in. Research was conducted to fill in the missing Site ID values. 

4. Found missing Site Name values based on filled in Site IDs.  

5. Based on the research, fill in the missing Site Names. 

6. Finally, update Site Names to proper case in order to make things look more clean.

In [ ]:
-- Find missing site_id values 
SELECT DISTINCT site_id
	FROM all_years
	WHERE site_name IS NULL OR site_name ='';

-- Fill in missing site_name values with the information found from research 
UPDATE all_years
	SET site_name = 'Los Lunas'
	WHERE site_id = '35-061-0008';

UPDATE all_years
	SET site_name = 'Bernalillo'
	WHERE site_id = '35-043-1001';
    
UPDATE all_years
	SET site_name = 'Santa Ana Pueblo'
	WHERE site_id = '35-043-9028';

-- Rerun to verify no site_name values are empty or null 
SELECT DISTINCT site_id
FROM all_years
WHERE site_name IS NULL OR site_name ='';

-- Change names to proper case for site name (make it more clean)
UPDATE all_years SET site_name = LOWER(site_name);
UPDATE all_years SET site_name = CONCAT(UPPER(SUBSTR(site_name,1,1)),LOWER(SUBSTR(site_name,2)));
UPDATE all_years SET site_name = REPLACE(site_name,' a',' A');
UPDATE all_years SET site_name = REPLACE(site_name,' b',' B');
UPDATE all_years SET site_name = REPLACE(site_name,' c',' C');
UPDATE all_years SET site_name = REPLACE(site_name,' d',' D');
UPDATE all_years SET site_name = REPLACE(site_name,' e',' E');
UPDATE all_years SET site_name = REPLACE(site_name,' f',' F');
UPDATE all_years SET site_name = REPLACE(site_name,' g',' G');
UPDATE all_years SET site_name = REPLACE(site_name,' h',' H');
UPDATE all_years SET site_name = REPLACE(site_name,' i',' I');
UPDATE all_years SET site_name = REPLACE(site_name,' j',' J');
UPDATE all_years SET site_name = REPLACE(site_name,' k',' K');
UPDATE all_years SET site_name = REPLACE(site_name,' l',' L');
UPDATE all_years SET site_name = REPLACE(site_name,' m',' M');
UPDATE all_years SET site_name = REPLACE(site_name,' n',' N');
UPDATE all_years SET site_name = REPLACE(site_name,' o',' O');
UPDATE all_years SET site_name = REPLACE(site_name,' p',' P');
UPDATE all_years SET site_name = REPLACE(site_name,' q',' Q');
UPDATE all_years SET site_name = REPLACE(site_name,' r',' R');
UPDATE all_years SET site_name = REPLACE(site_name,' s',' S');
UPDATE all_years SET site_name = REPLACE(site_name,' t',' T');
UPDATE all_years SET site_name = REPLACE(site_name,' u',' U');
UPDATE all_years SET site_name = REPLACE(site_name,' v',' V');
UPDATE all_years SET site_name = REPLACE(site_name,' w',' W');
UPDATE all_years SET site_name = REPLACE(site_name,' x',' X');
UPDATE all_years SET site_name = REPLACE(site_name,' y',' Y');
UPDATE all_years SET site_name = REPLACE(site_name,' z',' Z');

## Data Exploration <a name="data-exploration"></a>

Initially, I wanted to focus on average air quality index (AQI) values in order to make a comparision and find trends amongst the data. The first query I ran was to gather all monthly averages over all 5 years.

#### Averages

In [ ]:
-- Monthly Averages over the last 5 years (2018 - 2022) 
SELECT reportdate, AVG(aqivalue) AS Avg_AQI
FROM all_years 
GROUP BY MONTH(reportdate), YEAR(reportdate)

While looking at this data, I identified that summer months (June, July, and August) tend to be higher AQI values meaning that air quality is worse in the summer time. This is not a _new_ observation as overall air quality tends to be worse in the summer months due to the high temperatures and the high amounts of sunlight. Comparatively, the winter months tend to be on the lower end of the spectrum with lower AQI values and better overall air quality. This can be due to a number of factors including lower temperatures and lower amounts of sunlight. 

_Disclaimer - This is not always the case as some areas do tend to have opposite results as summer months tend to be lower AQI values and winter tends to be higher. This is just specific for Albuquerque, NM._

In [ ]:
-- Monthly Averages over the last 5 years (2018-2022) looking at the highest months 
SELECT reportdate, 
	   AVG(aqivalue) AS Avg_AQI
FROM all_years 
GROUP BY MONTH(reportdate), YEAR(reportdate) 
ORDER BY AVG(aqivalue) DESC
LIMIT 10

-- Average aqi values for summer months
SELECT reportdate, 
	   AVG(aqivalue) AS Avg_AQI
FROM all_years 
WHERE MONTH(reportdate) IN (6,7,8)
GROUP BY MONTH(reportdate), YEAR(reportdate) 
ORDER BY AVG(aqivalue) DESC


-- Averages each year 2018 - 2022 
SELECT reportdate, AVG(aqivalue)
FROM all_years 
GROUP BY YEAR(reportdate)

-- Monthly Averages over the last 5 years (2018-2022) looking at the lowest months 
SELECT reportdate, 
	   AVG(aqivalue) AS Avg_AQI
FROM all_years 
GROUP BY MONTH(reportdate), YEAR(reportdate) 
ORDER BY AVG(aqivalue)
LIMIT 10

-- Average aqi values for winter months
SELECT reportdate, 
	   AVG(aqivalue) AS Avg_AQI
FROM all_years 
WHERE MONTH(reportdate) IN (11,12,1)
GROUP BY MONTH(reportdate), YEAR(reportdate) 
ORDER BY AVG(aqivalue) DESC

<center>
<table>
<tr><th>Summer Month AQI Values </th><th>Winter Month AQI Values</th><th>Yearly AQI Values</th></tr>
<tr><td>

| Date | Average Air Quality (AQI) Value |
| :-: | :-: |
| July 2018 | 91.9677 | 
| July 2022 | 89.3333 |
| July 2021 | 85.9032 |
| June 2021 | 79.8667 |
| August 2018 | 77.7742 |
| August 2020 | 72.4667 |
| August 2021 | 71.4194 |
| June 2018 | 70.3793 |
| June 2019 | 70.2667 |
| August 2022 | 69.3226 |
| July 2019 | 67.2258 |
| August 2019 | 64.1613 |
| June 2022 | 63.0000 |
| June 2020 | 61.0000 |
| July 2020 | 58.1613 |

</td><td>


| Date | Average Air Quality (AQI) Value |
| :-: | :-: |
| December 2021 | 70.7097 | 
| January 2022 | 68.6774 |
| November 2021 | 65.8000 |
| December 2020 | 61.9355 |
| January 2018 | 60.9032 |
| January 2021 | 60.3548|
| November 2020 | 56.4333 |
| November 2019 | 56.1000 |
| December 2019 | 51.1613 |
| November 2018 | 50.7667 |
| January 2019 | 48.9677 |
| November 2022 | 48.8333 |
| December 2022 | 47.5806 |
| December 2018 | 47.0645 |
| January 2020 | 46.1613 |

</td><td>

| Year | Average Air Quality (AQI) Value |
| :-: | :-: |
| 2018 | 60.8287 | 
| 2019 | 56.1484 | 
| 2020 | 58.2893 | 
| 2021 | 66.0167 | 
| 2022 | 60.7885 | 

</td></tr> </table>
</center>

#### Air Quality Index (AQI) Descriptors

Our next focus was how harmful the air is based on the air quality index (AQI) values. There are 6 categories of harm:

<center>

| AQI Value Range | Descriptor | 
| :-: | :-: |
| 0 - 50 | Good | 
| 51 - 100 | Moderate | 
| 101 - 150 | Unhealthy for Sensitive People | 
| 151 - 200 | Unhealthy | 
| 201 - 300 | Very Unhealthy | 
| 300+ | Hazardous | 

</center>

All descriptors were looked at individually. The areas we focused on were comparing counts of each descriptor over all 5 years along with comparing monthly averages.

In [ ]:

-- GOOD AIR QUALITY 
-- Monthly Averages that are indicated as good air quality (Green - 0 to 50 AQI) 
SELECT MONTH(reportdate) as month, 
         YEAR(reportdate) as year,
         AVG(aqivalue) as avg_aqi
  FROM all_years 
  WHERE aqivalue BETWEEN 0 AND 50


-- Count of how many good air quality values over 5 years (13) 
SELECT COUNT(*) as count_of_records
FROM (
  SELECT MONTH(reportdate) as month, 
         YEAR(reportdate) as year,
         AVG(aqivalue) as avg_aqi
  FROM all_years 
  WHERE aqivalue BETWEEN 0 AND 50
) as avg_aqi_subquery

-- Percent of average months with good air quality 
SELECT COUNT(*) / 60 as percent_of_good_months
FROM (
  SELECT MONTH(reportdate) as month, 
         YEAR(reportdate) as year,
         AVG(aqivalue) as avg_aqi
  FROM all_years 
  WHERE aqivalue BETWEEN 0 AND 50
) as avg_aqi_subquery


-- All Good Air Quality days over 5 years
SELECT MONTH(reportdate) as month, 
         YEAR(reportdate) as year,
         aqivalue
  FROM all_years 
  GROUP BY DAY(reportdate), MONTH(reportdate), YEAR(reportdate)
 WHERE aqivalue BETWEEN 0 AND 50

-- Count of all Good Air Quality days over 5 years (667)
SELECT COUNT(*) as count_of_good_days
FROM (
SELECT MONTH(reportdate) as month, 
         YEAR(reportdate) as year,
         aqivalue
  FROM all_years 
  GROUP BY DAY(reportdate), MONTH(reportdate), YEAR(reportdate)
  WHERE aqivalue BETWEEN 0 AND 50
) as aqi_subquery

-- Percent of all Good Air Quality days over 5 years (667)
SELECT COUNT(*) / 1826 as percent_of_days
FROM (
SELECT MONTH(reportdate) as month, 
         YEAR(reportdate) as year,
         aqivalue
  FROM all_years 
  WHERE aqivalue BETWEEN 0 AND 50
) as aqi_subquery

-- MODERATE AIR QUALITY 
-- Monthly Averages that are indicated as moderate air quality (Yellow - 51 to 100 AQI) 
SELECT MONTH(reportdate) as month, 
         YEAR(reportdate) as year,
         AVG(aqivalue) as avg_aqi
  FROM all_years 
WHERE aqivalue BETWEEN 51 AND 100

-- Count of how many moderate air quality values over 5 years (46) 
SELECT COUNT(*) as count_of_records
FROM (
	SELECT MONTH(reportdate) as month, 
         YEAR(reportdate) as year,
         AVG(aqivalue) as avg_aqi
  FROM all_years 
 WHERE aqivalue BETWEEN 51 AND 100
)  as avg_aqi_subquery

-- Percent of how many moderate air quality values over 5 years (46) 
SELECT COUNT(*) / 60 as percent_of_moderate
FROM (
	SELECT MONTH(reportdate) as month, 
         YEAR(reportdate) as year,
         AVG(aqivalue) as avg_aqi
  FROM all_years 
  WHERE aqivalue BETWEEN 51 AND 100
)  as avg_aqi_subquery

-- All Moderate Air Quality days over 5 years
SELECT MONTH(reportdate) as month, 
         YEAR(reportdate) as year,
         aqivalue
  FROM all_years 
  WHERE aqivalue BETWEEN 51 AND 100

-- Count of all Moderate Air Quality days over 5 years (667)
SELECT COUNT(*) as count_of_moderate_days
FROM (
SELECT MONTH(reportdate) as month, 
         YEAR(reportdate) as year,
         aqivalue
  FROM all_years 
  WHERE aqivalue BETWEEN 51 AND 100
) as aqi_subquery

-- Percent of all Moderate Air Quality days over 5 years (667)
SELECT COUNT(*) / 1826 as percent_of_moderate_days
FROM (
SELECT MONTH(reportdate) as month, 
         YEAR(reportdate) as year,
         aqivalue
  FROM all_years 
  WHERE aqivalue BETWEEN 51 AND 100
) as aqi_subquery

-- UNHEALTHY FOR SENSITIVE PEOPLE
-- Monthly Averages that are indicated as "Unhealthy for sensitive people" (Orange - 101 to 150) 
SELECT MONTH(reportdate) as month, 
         YEAR(reportdate) as year,
         AVG(aqivalue) as avg_aqi
  FROM all_years 
 WHERE aqivalue BETWEEN 101 AND 151

-- Count of how many Unhealthy for sensitive people air quality values over 5 years (0) 
SELECT COUNT(*) as count_of_records
FROM (
	SELECT MONTH(reportdate) as month, 
         YEAR(reportdate) as year,
         AVG(aqivalue) as avg_aqi
  FROM all_years 
  WHERE aqivalue BETWEEN 101 AND 151
)  as avg_aqi_subquery

-- All Unhealthy for sensitive people Air Quality days over 5 years
SELECT MONTH(reportdate) as month, 
         YEAR(reportdate) as year,
         aqivalue
  FROM all_years 
 WHERE aqivalue BETWEEN 101 AND 151

-- Count of all Unhealthy for sensitive people Air Quality days over 5 years (667)
SELECT COUNT(*) as count_of_sensitive_days
FROM (
SELECT MONTH(reportdate) as month, 
         YEAR(reportdate) as year,
         aqivalue
  FROM all_years 
  WHERE aqivalue BETWEEN 101 AND 151
) as aqi_subquery

-- Percent of all Unhealthy for sensitive people Air Quality days over 5 years (667)
SELECT COUNT(*) / 1826 as percent_of_sensitive_days
FROM (
SELECT MONTH(reportdate) as month, 
         YEAR(reportdate) as year,
         aqivalue
  FROM all_years 
 WHERE aqivalue BETWEEN 101 AND 151
) as aqi_subquery

-- UNHEALTHY 
-- All Unhealthy Air Quality days over 5 years
SELECT MONTH(reportdate) as month, 
         YEAR(reportdate) as year,
         aqivalue
  FROM all_years 
 WHERE aqivalue BETWEEN 151 AND 200

-- Count of all Unhealthy Air Quality days over 5 years (667)
SELECT COUNT(*) as count_of_unhealthy_days
FROM (
SELECT MONTH(reportdate) as month, 
         YEAR(reportdate) as year,
         aqivalue
  FROM all_years 
  WHERE aqivalue BETWEEN 151 AND 200
) as aqi_subquery

-- Percent of all Unhealthy Air Quality days over 5 years (667)
SELECT COUNT(*) / 1826 as percent_of_unhealthy_days
FROM (
SELECT MONTH(reportdate) as month, 
         YEAR(reportdate) as year,
         aqivalue
  FROM all_years 
  WHERE aqivalue BETWEEN 151 AND 200
) as aqi_subquery

-- VERY UNHEALTHY 
-- All Very Unhealthy Air Quality days over 5 years
SELECT MONTH(reportdate) as month, 
         YEAR(reportdate) as year,
         aqivalue
  FROM all_years 
 WHERE aqivalue BETWEEN 201 AND 300

-- Count of all Very Unhealthy Air Quality days over 5 years (667)
SELECT COUNT(*) as count_of_very_unhealthy_days
FROM (
SELECT MONTH(reportdate) as month, 
         YEAR(reportdate) as year,
         aqivalue
  FROM all_years 
  WHERE aqivalue BETWEEN 201 AND 300
) as aqi_subquery

-- Percent of all Very Unhealthy Air Quality days over 5 years (667)
SELECT COUNT(*) / 1826 as percent_of_very_unhealthy_days
FROM (
SELECT MONTH(reportdate) as month, 
         YEAR(reportdate) as year,
         aqivalue
  FROM all_years 
  WHERE aqivalue BETWEEN 201 AND 300
) as aqi_subquery

-- HAZARDOUS
-- All hazardous Air Quality days over 5 years
SELECT MONTH(reportdate) as month, 
         YEAR(reportdate) as year,
         aqivalue
  FROM all_years 
 WHERE aqivalue >=300 

-- Count of all hazardous Air Quality days over 5 years (667)
SELECT COUNT(*) as count_of_hazardous_days
FROM (
SELECT MONTH(reportdate) as month, 
         YEAR(reportdate) as year,
         aqivalue
  FROM all_years 
WHERE aqivalue >=300 
) as aqi_subquery

-- Percent of all hazardous Air Quality days over 5 years (667)
SELECT COUNT(*) / 1826 as percent_hazardous_days
FROM (
SELECT MONTH(reportdate) as month, 
         YEAR(reportdate) as year,
         aqivalue
FROM all_years 
WHERE aqivalue >=300 
) as aqi_subquery

The results indicated that the majority of the 5 years were spent within the Moderate air quality range. We also luckily only experienced 1 very unhealthy day and 1 hazardous day throughout the 5 years being studied. The results show as follows: 

<h3><center>Monthly Averages</center></h3>

<center>

| AQI Descriptor | Count of Monthly Averages | Percent of Averages |
| :-: | :-: | :-: |
| Good | 13 | 22% | 
| Moderate | 47 | 78% | 

</center>

<h3><center>All days throughout the 5 years</center></h3>

<center>

| AQI Descriptor | Count of All Days | Percent of Days |
| :-: | :-: | :-: |
| Good | 667 | 37% | 
| Moderate | 1063 | 58% | 
| Unhealthy for Sensitive People | 74 | 4% | 
| Unhealthy | 6 | 0.03% | 
| Very Unhealthy | 1 | 0.0005% |
| Hazardous | 1 | 0.0005% |

</center>

#### Maximuim and Minimuim Values

In [ ]:
-- MAX and MIN VALUES
-- Max AQI values per month 
SELECT reportdate, 
	   MAX(aqivalue) AS Max_AQI
FROM all_years 
GROUP BY MONTH(reportdate), YEAR(reportdate)
ORDER BY Max_AQI

-- Comparing to monthly averages to the monthly max values 
WITH avg_aqi AS (
  SELECT MONTH(reportdate) AS month, 
         YEAR(reportdate) AS year,
         AVG(aqivalue) AS avg_aqi
  FROM all_years 
  GROUP BY MONTH(reportdate), YEAR(reportdate)
),
max_aqi AS (
  SELECT MONTH(reportdate) AS month, 
         YEAR(reportdate) AS year,
         MAX(aqivalue) AS max_aqi
  FROM all_years 
  GROUP BY MONTH(reportdate), YEAR(reportdate)
  ORDER BY max_aqi
)
SELECT avg_aqi.month, avg_aqi.year, avg_aqi.avg_aqi, max_aqi.max_aqi
FROM avg_aqi
JOIN max_aqi
ON avg_aqi.month = max_aqi.month AND avg_aqi.year = max_aqi.year
ORDER BY max_aqi

-- Min AQI values per month 
SELECT reportdate, 
	   MIN(aqivalue) AS Min_AQI
FROM all_years 
GROUP BY MONTH(reportdate), YEAR(reportdate)
ORDER BY Min_AQI

-- Comparing to monthly averages to the monthly min values 
WITH avg_aqi AS (
  SELECT MONTH(reportdate) AS month, 
         YEAR(reportdate) AS year,
         AVG(aqivalue) AS avg_aqi
  FROM all_years 
  GROUP BY MONTH(reportdate), YEAR(reportdate)
),
min_aqi AS (
  SELECT MONTH(reportdate) AS month, 
         YEAR(reportdate) AS year,
         MIN(aqivalue) AS min_aqi
  FROM all_years 
  GROUP BY MONTH(reportdate), YEAR(reportdate)
  ORDER BY min_aqi
)
SELECT avg_aqi.month, avg_aqi.year, avg_aqi.avg_aqi, min_aqi.min_aqi
FROM avg_aqi
JOIN min_aqi
ON avg_aqi.month = min_aqi.month AND avg_aqi.year = min_aqi.year
ORDER BY min_aqi

The lowest maximuim value in a month was in October 2018 with a value of 46 compared to its monthly average 37. The highest maximuim value was in January 2022 with a value at 331 compared to its monthly average 69. The lowest minimuim value was in September 2020 compared to its monthly average of 66. The highest minimuim value was in July 2022 with a value of 54 compared to its monthly average of 89.

#### Main Pollutants

In [ ]:
-- AIR POLLUTANTS
-- Most common air pollutants month to month over 5 years 
SELECT YEAR(reportdate) as year,
	   mainpollutant, 
	   COUNT(*) as count_of_mainpollutant
FROM all_years
GROUP BY mainpollutant

-- Count of pollutants each year
SELECT YEAR(reportdate) as year,
	   mainpollutant, 
	   COUNT(*) as count_of_mainpollutant
FROM all_years
WHERE YEAR(reportdate) BETWEEN 2018 AND 2022
GROUP BY mainpollutant, year

-- Count of pollutants (total) 
SELECT mainpollutant, 
	   COUNT(*) / 1812 as count_of_mainpollutant
FROM all_years
WHERE YEAR(reportdate) BETWEEN 2018 AND 2022
GROUP BY mainpollutant
ORDER BY count_of_mainpollutant DESC

Ozone was found to be the most dominant pollutant. Ozone was the main pollutant 60% of the time throughout the 5 years with PM2.5 and PM10 being the main pollutant around 20%. Below is a table of how often a pollutant was considered the main pollutant within each given year.

<center>

| Pollutant | 2018 | 2019 | 2020 | 2021 | 2022 | 
| :-: | :-: | :-: | :-: | :-: | :-: |
| Ozone | 253 | 246 | 195 | 169 | 220 |
| PM 10 | 53 | 49 | 82 | 123 | 54 |
| PM 2.5 | 55 | 69 | 86 | 67 | 90 |
| NO2 | 1 | 0 | 0 | 0 | 0 |

</center>

#### Recording Sites

In [ ]:
-- SITE INFORMATION 
-- Usage of each site each year
SELECT YEAR(reportdate) as year,
	   site_name, 
	   COUNT(*) as count_of_site_name
FROM all_years
WHERE YEAR(reportdate) BETWEEN 2018 AND 2022
GROUP BY site_name, year
ORDER BY year, count_of_site_name DESC

-- Usage of each site total over 5 years 
SELECT site_name, 
	   COUNT(*) / 1812 as count_of_site_name
FROM all_years
WHERE YEAR(reportdate) BETWEEN 2018 AND 2022
GROUP BY site_name
ORDER BY count_of_site_name DESC

-- Average AQI at each site by year
SELECT YEAR(reportdate) AS year, 
		site_name,
	   AVG(aqivalue) AS Avg_AQI
FROM all_years 
WHERE YEAR(reportdate) BETWEEN 2018 AND 2022
GROUP BY site_name, year
ORDER BY year

-- Average AQI at each site overall 
SELECT site_name, 
		AVG(aqivalue) AS avg_aqi
FROM all_years
GROUP BY site_name
ORDER BY avg_aqi DESC

Site usage is important when comparing the overall air quality index (AQI) values. These sites are in different areas of the city which could cause the readings of the air quality values to vary depending on which area was recorded. The areas that had the lowest AQI value are areas of smaller populations due to the lack of urbanization and less people overall. Los Lunas and Santa Ana Pueblo had the lowest average AQI with values of 53 and 47 respectively. These areas are both outskirt cities and areas that have smaller populations. This information also leads to the observation that even though these cities had the lowest average AQI, these sites were also used less than 5% throughout the 5 years. Foothills which had an average AQI of 58 was used 33% of the time throughout the 5 years. South Valley was used 21%, Del Norte High School 15%, North Valley 12%, Jefferson 9%, Los Lunas 5%, Bernalillo 4% and Santa Ana Pueblo 1%. 

Figure 2 below is a photo of the site areas used. Sites described by the numbers: 

- 1: Los Lunas 
- 2: South Valley 
- 3: North Valley 
- 4: Jefferson 
- 5: Bernalillo 
- 6: Santa Ana Pueblo 
- 7: Del Norte High School 
- 8: Foothills

<center>

<figure align="center">
<img src="location-sites.png">
<figcaption align = "center"> <em>Figure 2. - Sites used for recording air quality.</em></figcaption>
</figure>

</center>

## Data Visualization <a name="data-visualization"></a>

To better understand the air quality in Albuquerque, PowerBI was used to visualize the information and show trends throughout the data. A dashboard was created with interactive options for year, AQI descriptor, and site name. Values for both the Daily Air Quality Index visual and the Average Air Quality Index by Year and Month are represented by the color of the air quality descriptors. 

The Daily Air Quality Index visual represents every recorded value throughout the 5 years. The values are represented by the colors of the air quality indicators and the trend line is the averages. This visual allows for daily air qualities to be compared to the trend line averages. With the use of the slicer options, a more defined view is optional to look at yearly fluctuation. The average air quality visual is similar but only has monthly averages over the 5 year timeline. 

Looking at this dashboard, a few trends are noticeable. As mentioned earlier, summer months tend to have worse air quality which is evident in these visuals. Both daily air quality and average air quality visuals have a noticeable increase when selecting different years. Another evident trend is the amount of ozone throughout the years. Ozone was the most dominant pollutant and it's evident throughout the visual.

<center>

<figure align="center">
<img src="ABQ-powerbi.png">
<figcaption align = "center"> <em>Figure 3. - Dashboard created for Albuquerque air quality data.</em> </figcaption>
</figure>

</center>

## Summary - Main Points Wrapped Up <a name="summary---main-points-wrapped-up"></a>

1. In Albuquerque, New Mexico, summer months tend to have worse air quality compared to winter months. 
2. Over the 5 years researched, Albuquerque air quality averaged moderate air quality 58% of the time and good air quality 37%. 
3. In January 2022, we had hazardous air quality conditions hitting a maximuim AQI value of 331. 
4. Ozone was the main pollutant 60% of the time over the 5 years. 
5. 8 recording sites were used with the Foothills location being used the most with an average AQI of 58 (in the moderate air quality range).